body {
    background-color: gray;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 300;
    font-style: normal;
    margin-left: 40px;
    margin-top: 50px;
    color: aliceblue;
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin: 0;
}


.item-container {
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    max-width: 300px;
    max-height:300px;
    padding: 10px;
    margin: 15px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
} 