body {
    background-color: gray;
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin: 0;
}


h1 {
    font-weight: 300;
    font-style: normal;
    margin-left: 40px;
    margin-top: 50px;
    color: aliceblue;
}

.item-container {
    justify-content: center;
    align-items: center;
    overflow: auto;
    flex-grow: 1;
    max-width: 250px;
    max-height:250px;
    padding: 25px;
    margin: 15px;
    background-color: rgb(255, 255, 255);
    margin-bottom: auto;
}